<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="cities">
      <h2 data-cy="citiesDetailsHeading"><span jhiTranslate="agencyCourseWorkApp.cities.detail.title">Cities</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ cities.id }}</span>
        </dd>
        <dt><span jhiTranslate="agencyCourseWorkApp.cities.title">Title</span></dt>
        <dd>
          <span>{{ cities.title }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Назад</span>
      </button>

      <button type="button" [routerLink]="['/cities', cities.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Изменить</span>
      </button>
    </div>
  </div>
</div>
