<div>
  <h2 id="page-heading" data-cy="ResidentalEstatesHeading">
    <span jhiTranslate="agencyCourseWorkApp.residentalEstates.home.title">Residental Estates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="agencyCourseWorkApp.residentalEstates.home.refreshListLabel">Обновить список</span>
      </button>

      <button
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-residental-estates"
        [routerLink]="['/residental-estates/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="agencyCourseWorkApp.residentalEstates.home.createLabel"> Создать новый Residental Estates </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="residentalEstates?.length === 0">
    <span jhiTranslate="agencyCourseWorkApp.residentalEstates.home.notFound">Residental Estates не найдено</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="residentalEstates && residentalEstates.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="livingSpace">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.livingSpace">Living Space</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="cadastralNumber">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.cadastralNumber">Cadastral Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commissioningDate">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.commissioningDate">Commissioning Date</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numberOfRooms">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.numberOfRooms">Number Of Rooms</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="furnishType">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.furnishType">Furnish Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="hasBalcony">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.hasBalcony">Has Balcony</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bathroomType">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.bathroomType">Bathroom Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ceilingHeight">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.ceilingHeight">Ceiling Height</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="price">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.price">Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addressId.id">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.addressId">Address Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="typeOfResidentalEstateId.id">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.typeOfResidentalEstateId">Type Of Residental Estate Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="statusOfResidentalEstateId.id">
            <div class="d-flex">
              <span jhiTranslate="agencyCourseWorkApp.residentalEstates.statusOfResidentalEstateId">Status Of Residental Estate Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let residentalEstates of residentalEstates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/residental-estates', residentalEstates.id, 'view']">{{ residentalEstates.id }}</a>
          </td>
          <td>{{ residentalEstates.livingSpace }}</td>
          <td>{{ residentalEstates.cadastralNumber }}</td>
          <td>{{ residentalEstates.commissioningDate | formatMediumDate }}</td>
          <td>{{ residentalEstates.numberOfRooms }}</td>
          <td>{{ residentalEstates.furnishType }}</td>
          <td>{{ residentalEstates.hasBalcony }}</td>
          <td>{{ residentalEstates.bathroomType }}</td>
          <td>{{ residentalEstates.ceilingHeight }}</td>
          <td>{{ residentalEstates.price }}</td>
          <td>
            <div *ngIf="residentalEstates.addressId">
              <a [routerLink]="['/addresses', residentalEstates.addressId.id, 'view']">{{ residentalEstates.addressId.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="residentalEstates.typeOfResidentalEstateId">
              <a [routerLink]="['/types-of-residental-estate', residentalEstates.typeOfResidentalEstateId.id, 'view']">{{
                residentalEstates.typeOfResidentalEstateId.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="residentalEstates.statusOfResidentalEstateId">
              <a [routerLink]="['/statuses-of-residental-estate', residentalEstates.statusOfResidentalEstateId.id, 'view']">{{
                residentalEstates.statusOfResidentalEstateId.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/residental-estates', residentalEstates.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Просмотр</span>
              </button>

              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="submit"
                [routerLink]="['/residental-estates', residentalEstates.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Изменить</span>
              </button>

              <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit" (click)="delete(residentalEstates)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Удалить</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="residentalEstates && residentalEstates.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
