<form *ngIf="typesOfResidentalEstate" name="deleteForm" (ngSubmit)="confirmDelete(typesOfResidentalEstate.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="typesOfResidentalEstateDeleteDialogHeading" jhiTranslate="entity.delete.title">
      Подтвердите операцию удаления
    </h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
    <p
      id="jhi-delete-typesOfResidentalEstate-heading"
      jhiTranslate="agencyCourseWorkApp.typesOfResidentalEstate.delete.question"
      [translateValues]="{ id: typesOfResidentalEstate.id }"
    >
      Вы уверены что хотите удалить Types Of Residental Estate {{ typesOfResidentalEstate.id }}?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Отмена</span>
    </button>

    <button id="jhi-confirm-delete-typesOfResidentalEstate" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">Удалить</span>
    </button>
  </div>
</form>
